.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  display: flex;
  background-color: #f9f9f9;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.home-manga {
  background-color: white;
  width: 40%;
  height: 100%;
}

.home-manga-name {
  margin-top: 2%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.home-book-manga-button {
  font-size: 20px
}

.manga-button-active {
  background-color: #036868;
  color: white;
}

.home-manga-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  height: 80%;
  width: 100%;
}

.home-manga-art-pic {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.home-manga-box h1{
  font-weight: 400;
}
